@charset "utf-8";

.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
}
.grid-col-4 > .grid-item {
  width: 25%;
  height: 40px;
  text-align: center;
  border: 1px solid;
  box-sizing: border-box;
}
.grid-col-2 .grid-item {
  width: 50%;
  height: 40px;
  text-align: center;
  border: 1px solid;
  box-sizing: border-box;
}
.grid1 {
  display: flex;
  flex-wrap: nowrap; /*指定しなくても１行になる？*/
  background-color: #eee;
}
.grid-col-1 .grid-item {
  width: 100%;
  height: 40px;
  text-align: center;
  border: 1px solid;
  box-sizing: border-box;
}
